<!--

Purpose: This include file shows how to change elements in the <settings> section
of the web.config file

To enable this, rename this file so that it has a ".config" extension

Notice that when changing simple settings like this, you can typically put in the
setting directly without using "patch:attribute" like we do in the structure below.
But you can also use "patch:attribute" for clarity:
    <setting name="RequireLockBeforeEditing">
      <patch:attribute name="value">false</patch:attribute>
    </setting>

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <events>
      <event name="publish:itemProcessing">
        <handler type="Sitecore.Roadshow.Application.Events.CoursePublishRestriction, Sitecore.Roadshow.Code" method="OnItemProcessing" />
      </event>
    </events>
    
    <dataProviders>
      <!-- custom data provider -->
      <courses patch:before="*[1]" type="Sitecore.Roadshow.Application.DataProviders.CourseDataProvider, Sitecore.Roadshow.Code">
        <!-- defines the parent item node where to attached the course data items -->
        <param desc="parentItemID">{9595B1D9-C1EF-4C27-A499-0A063CEA2E10}</param>
        <!-- template id which represents a course -->
        <param desc="templateID">{30B28BAE-97E1-4580-8426-7F8CEE365013}</param>
        <!-- xml file which contains the course information -->
        <param desc="xmlFileName">/assets/xml/courses.xml</param>
      </courses>
      <main>
        <patch:attribute name="type">Sitecore.Roadshow.Application.DataProviders.CustomSqlServerDataProvider, Sitecore.Roadshow.Code</patch:attribute>
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
      </main>
    </dataProviders>

    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <!-- custom data provider -->
          <dataProvider patch:before="*[1]" ref="dataProviders/courses"></dataProvider>
          <!-- custom data provider -->
        </dataProviders>
      </database>
      <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <!-- custom data provider -->
          <dataProvider patch:before="*[1]" ref="dataProviders/courses"></dataProvider>
          <!-- custom data provider -->
        </dataProviders>
      </database>
    </databases>
   
  </sitecore>
</configuration>
