<!--

Purpose: This include file shows how to change elements in the <settings> section
of the web.config file

To enable this, rename this file so that it has a ".config" extension

Notice that when changing simple settings like this, you can typically put in the
setting directly without using "patch:attribute" like we do in the structure below.
But you can also use "patch:attribute" for clarity:
    <setting name="RequireLockBeforeEditing">
      <patch:attribute name="value">false</patch:attribute>
    </setting>

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Media.MediaLinkPrefix">
        <patch:attribute name="value">-/media</patch:attribute>
      </setting>
    </settings>

    <commands>
      <!-- News Command Template-->
      <command name="news:addnews" type="Sitecore.Roadshow.Application.Commands.AddNews, Sitecore.Roadshow.Code" />
    </commands>
    
    <customHandlers>
      <handler  patch:before="handler[@trigger='~/media/']" trigger="-/media/" handler="sitecore_media.ashx" />
    </customHandlers>

    <search>
      <configuration>
        <indexes hint="list:AddIndex">
          <index id="news" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">news</param>
            <Analyzer ref="search/analyzer" />
            <locations hint="list:AddCrawler">
              <news-master type="Sitecore.Search.Crawlers.DatabaseCrawler,Sitecore.Kernel">
                <Database>master</Database>
                <Root>/sitecore/content/Home/company/corporate-news/news</Root>
                <include hint="list:IncludeTemplate">
                  <application>{1C8317CF-2020-4080-A93B-BCFCED961AF6}</application>
                </include>
                <Tags>news</Tags>
                <Boost>2.0</Boost>
              </news-master>
              <news-web type="Sitecore.Search.Crawlers.DatabaseCrawler,Sitecore.Kernel">
                <Database>web</Database>
                <Root>/sitecore/content/Home/company/corporate-news/news</Root>
                <include hint="list:IncludeTemplate">
                  <application>{1C8317CF-2020-4080-A93B-BCFCED961AF6}</application>
                </include>
                <Tags>news</Tags>
                <Boost>2.0</Boost>
              </news-web>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>
