<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sitecore;password=sitecare;Data Source=LT-DVS;Database=roadshow-650x111230core" />
  <add name="master" connectionString="user id=sitecore;password=sitecare;Data Source=LT-DVS;Database=roadshow-650x111230master" />
  <add name="web" connectionString="user id=sitecore;password=sitecare;Data Source=LT-DVS;Database=roadshow-650x111230web" />
  <add name="analytics" connectionString="user id=sitecore;password=sitecare;Data Source=LT-DVS;Database=roadshow-650x111230analytics" />
</connectionStrings>